h1 {
  color: #355682;
  text-align: center;
  background-color: #6bd0ff;
}
h2 {
  Color: #355682;
}
h3{
  color: #black;
}
ul {
  $
}
body {
  background-color: #ade5ff;
}
.instructions{
  font-style: italic;
}
.sidebar{
  float: right;
  background-color: #ffaffd;
}
